@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sans/rosario-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/sans/rosario-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sans/rosario-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sans/rosario-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sans/rosario-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sans/rosario-v22-latin-regular.svg#Rosario') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/serif/unna-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/serif/unna-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/serif/unna-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/serif/unna-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/serif/unna-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/serif/unna-v16-latin-regular.svg#Unna') format('svg'); /* Legacy iOS */
}
}